
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
    width: 1600px;
}
header{
    /* width: 1600px; */
    /* border: 2px solid goldenrod; */ 
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px 16px 200px;
    /* background-color: #412567; */
    background-color: #1A0B2E;
}
.logo{
    /* border: 1px solid green; */
    width: 219px;
    height: 32px;
}
.nav-links{
    /* border: 1px solid greenyellow; */
    list-style: none;
    display: flex;
    width: 218px;
    height: 19px;
    justify-content: space-between;
    color: black;
}
.nav-link{
color: #FFFFFF;
}

.nav-links a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.btn{
width: 135px;
height: 44px;
font-size: 16px;
font-weight: 600;
padding: 12px 40px 12px 16px;
border-radius: 10000px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
}

.hero-section{
   border: 0.5px solid black;
    height: 750px;
    background-image: url(./hero-bg.png);
}
.hero-container{
    /* border: 1px solid goldenrod; */
    width: 550px;
    height: 560px;
    margin: 101px 525px;
}
.hero-img{
    /* border: 2px solid green; */
    width: 350px;
    height: 350px;
   margin-left: 100px;
   background-image: url(./hero-circle.png);
}

.microphone{
    width: 117pxpx;
    height: 175px;
    margin: 77px 117px 98px;
}
.hero-text{
    /* border: 2px solid greenyellow; */
    height: 168px;
    text-align: center;
  /* padding-top: 0; */
  height: 168px;
  margin-top: 40px;
}
.text-header{
    height: 72px;
    color: #FFFFFF;
    font-size: 60px;
    margin: 0;
}
.hero-bio{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 24px;
}

.btn-one{
    width: 201px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px 12px 47px; 
    border-radius: 10000px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
}

.btn-two{
    width: 147px;
    height: 44px ;
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    padding: 12px 20px 12px 47px;
border: 1px solid var(--#00FF88, rgba(0, 255, 136, 1));
border-radius: 10000px;
background: transparent;
border: 1px solid #00FF88;
}

.container{
    /* border: 1px solid goldenrod; */
    /* width: 1600px; */
    height: 648px;
    padding: 50px 200px 120px;
    background-color: #1A0B2E;
    text-align: center;
}

.container-box{
    /* border: 2px solid goldenrod; */
    height: 223px;
}
.header{
    height: 59px;
    margin-top: 0;
   color: #FFFFFF;
   font-size: 48px;
   font-weight: 700;
}
.text{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}
.stats-bar{
 height: 95px;
 margin-top: 160px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 40px 20px ;
}
.stat-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.stat-number{
    font-size: 48px;
    font-weight: 800;
    color: #00FF88;
    margin-bottom: 10px;
}
.stat-label{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}
.main-box{
    height: 1120px;
    padding: 120px 200px;
  background-color: #230E3D;
}
.main-box-header{
    /* border: 1px solid gold; */
    height: 59px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #FFFFFF;
}
.grid-box-one{
    grid-column: span 1;
    grid-row: span 2;
}
.grid-box-two{
    grid-column: span 2;
    grid-row: span 1;
}
.grid-box-third{
    grid-column: span 2;
    grid-row: span 1;
}
.grid-box-four{
    grid-column:  span 2;
    grid-row: span 1;
}
.grid-box-five{
grid-column: span 1;
grid-row: span 1;
}
.card{
background-color: #351165;
border-radius: 40px;
padding: 40px;
border: 1px solid rgba(255, 255, 255, 0.05);
display: flex;
flex-direction: column;
justify-content: center;
gap: 16px;
transition: transform 0.3s ease; 
}
.main-box h3{
    font-size:24px;
    font-weight: 700;
}
.main-box p{
    font-size: 16px;
    font-weight: 400;
}
.episode-section{
    border: 3px solid greenyellow;
    height: 1277px;
}
.card-text-link{
    /* border: 2px solid gold; */
    height: 1278px;
    background-color: #1A0B2E;
   padding: 120px 200px;

}
.section-title{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 40px;
}
.section-title {
  text-align: center;
  margin: 30px 0;
  font-size: 28px;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.link-card {
  width: 380px;
  /* background: #1e003e; */
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  transition: transform 0.3s;
  background-color: rgba(37, 13, 68, 1);
}
.link-card:hover {
  transform: translateY(-8px);
}
.thumbnail {
  position: relative;
}
.thumbnail img {
  width: 100%;
  display: block;
}
.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: red;
  color: white;
  font-size: 24px;
  padding: 12px 18px;
  border-radius: 50%;
}
.card-content {
  padding: 15px;
}
.card-content h3 {
  font-size: 24px;
  margin-bottom: 8px;
}
.card-content p {
  font-size: 14px;
  margin-bottom: 10px;
color: #FFFFFF;
}
.duration {
  font-size: 13px;
  font-weight: 400;
  color: #00FF88;
}
.host-section{
    /* border: 2px solid goldenrod; */
    height: 387px;
    margin-top: 120px;
}
.host-section h2{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    
    text-align: center;
}
.host-card{
    /* border: 2px solid goldenrod; */
    display: flex;
    height: 280px;
    margin-top: 50px;
    gap: 10px;
    justify-content: space-between;
    border-radius: 15px;
    align-items: center;
    padding: 48px 40px;
   background-color: rgba(53, 17, 101, 0.4);
}
.host-img{
    width: 200px;
    height: 200px;
}
.host-content h3{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}
.host-content p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.social-icons {
  display: flex;
  gap: 8px;
}
.icon {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(83, 60, 114, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  text-decoration: none;
}
.footer{
    height: 412px;
    background-image: url(./footer-bg.png);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-container{
    /* border: 2px solid gold; */
    width: 1360px;
    height: 172px;
   padding: 120px;
}
.footer-logo img{
    width: 410px;
    height: 60px;
}
.social-links{
    gap: 40px;
    display: flex;
   justify-content: center;
    text-align: center;
    list-style: none;
    color: #FFFFFF;
}
.social-links a{
    text-decoration: none;
}
.social-links img{
    width: 24px;
    height: 24px;
    align-items: center;
    text-align: center;
}
.copyright{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    margin-top: 60px;
}












